*{
    background-color: white;
}
.container{
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    background-color: white;
    margin: 0 auto;
}
.grid-layout{
    background-color: white;
    border: 1px solid;
    width: 35.5px;
    height: 35.5px;
}
.new-grid-layout{
    background-color: white;
    border: 1px solid;
}
.button{
    display: flex;
    justify-content: center;
    margin-bottom: 55px;
}
.btn{
    border: transparent;
    font-size: 40px;
    border-width: 1px;
    cursor: pointer;
}
