.container{
  display: grid;
}
.container{
     display: flex;
     flex-direction: row;
 }
.container2{
    display: flex;
    flex-direction: column;
}
.rows,
.cols{
   border: 1px solid;
   color: black;  
   height: 50px;
   width: 50px;
}
